.config/nvim/lazy-lock.json
.config/karabiner/automatic_backups/
.DS_Store
.claude

home/.config/karabiner/automatic_backups/
home/.config/sol/images_pasteboard/
home/.config/sol/mmkv.default
home/.config/sol/mmkv.default.crc

